#new-pictures-modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          New Pictures
      .modal-body     
        = form_tag album_pictures_path(@album.id), multipart: true, :class => 'dropzone' do
          .fallback
            = file_field_tag :file    
      .modal-footer
        %button.btn.btn-default#upload-image-close{"data-dismiss" => "modal", :type => "button"} 
          Close
