.container
  .row.new-album-section
    .col-12.text-right
      %button.btn.btn-primary{:type => "button","data-toggle" => "modal", "data-target" => "#new-album-modal"} 
        New Album
  .row
    .col-12
      - @albums.each do |album|
        .col-lg-3.col-md-4.col-sm-6.col-xs-6
          .panel.panel-default
            .panel-body.image-panel
              %img.album-picture.img-responsive.center-block{src: album.album_cover}
            .panel-footer
              %a{href: album_path(album.id)}
                =album.title
  / Album Modal
  = render :partial => "/shared/album_modal"
