.container
  - if current_user == @album.user_id
    .row
      %h2.text-center
        = @album.title
      %h6.text-center.edit-text
        %a{href:"#","data-toggle" => "modal", "data-target" => "#new-album-modal"}
          (Edit)
    .row.new-album-section
      .col-12.text-right
        %button.btn.btn-primary{:type => "button","data-toggle" => "modal", "data-target" => "#new-pictures-modal"} 
          Upload Pictures
  .row
    .col-12
      - @pictures.each do |picture|
        .col-lg-3.col-md-4.col-sm-6.col-xs-6
          .panel.panel-default
            .panel-body.image-panel
              %img.album-picture.img-responsive.center-block{src: picture.photo.url}

  / Picture Uploader Modal
  = render :partial => "/shared/pictures_modal", locals: {album: @album}
  / Album Modal
  = render :partial => "/shared/album_modal", locals: {album: @album}
  .row
    = will_paginate @pictures
